{{ $button_colour := $.Site.Params.reply_via_button }}
<style>

.reply_via_buttons {
	display: flex;
	gap: 20px;
	> div {
		border: 1px solid black;
		border-radius: 8px;
		padding: 5px;
	:hover {
		border: none;
}
	}
	:hover {
		background: {{ $button_colour }};
		color: white;
	}
}

</style>

<div class="reply_via_buttons">
    {{- if $.Site.Params.reply_masto }}
    {{ with .Params.mastodon.id }}
    <div class="reply_via_mastodon">
            <a href="https://{{ $.Params.mastodon.hostname }}/@{{ $.Params.mastodon.username }}/{{ .Params.mastodon.id }}">{{- $.Site.Params.masto_icon | safeHTML }} {{- $.Site.Params.masto_text }}</a>
    </div>
    {{ end }}
    {{ end }}
    {{- if $.Site.Params.reply_threads }}
    {{ with .Params.threads.url }}
    <div class="reply_via_threads">
            <a href="{{ $.Params.threads.url }}">{{- $.Site.Params.threads_icon | safeHTML }} {{- $.Site.Params.threads_text }}</a>
    </div>
    {{ end }}
    {{ end }}
    {{- if $.Site.Params.reply_bluesky }}
    {{ with .Params.bluesky.link }}
    <div class="reply_via_bluesky">
            <a href="{{ $.Params.bluesky.link }}">{{- $.Site.Params.bluesky_icon | safeHTML }} {{- $.Site.Params.bluesky_text }}</a>
    </div>
    {{ end }}
    {{ end }}
    {{- if $.Site.Params.reply_email }}
    <div class="reply_via_email">
        {{ partial "reply-by-email.html" . }}
    </div>
    {{ end }}
    {{- if $.Site.Params.reply_microblog }}
    <div class="reply_via_microblog" style="display: none;">
        <i class="fa-brands fa-microblog"></i><a href="{{$home_page_url}}" class="conversation-{{ .Title | urlize }}">{{- $.Site.Params.mb_icon | safeHTML }} {{- $.Site.Params.mb_text }}</a>
    </div>
    <script>
        // Function to fetch the homepage URL and update the link
        function updateHomepageLink() {
        fetch('https://micro.blog/conversation.js?format=jsonfeed&url={{ .Permalink }}')
        .then(response => response.json())
        .then(data => {
        if (data.home_page_url) {
        const linkElement = document.querySelector('.reply_via_microblog a');
        const divElement = document.querySelector('.reply_via_microblog');
        // Update the link's href
        linkElement.href = data.home_page_url;
        // Show the div
        divElement.style.display = 'block';
        }
        });
        }

        // Call the function to update the link and show the div
        document.addEventListener('DOMContentLoaded', updateHomepageLink);

    </script>
    {{ end }}
</div>